.OptionBarContainer{
    width: 100%;margin-top: 3%;
    border:1px solid #adabaa2d;
    padding: 8px 0px;
   color:#ADABAA;
   font-size: 14px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.OptionBarWrapper{
    display: flex;
    width: 94%;
}
.LeftContainer,.RightContainer{
    width: 65%;
  
}
.LeftContainer{
    display: flex;
    align-items: center;
    justify-content:flex-start
}
.css-1d0ox2v{
background: unset !important;
font-size: unset !important;

font-weight: unset !important;
padding: 0 !important;
}
.css-13c7rae{
padding:20px 40px;

}
.css-13c7rae:focus{
    color:#dbd1c5;
    background:unset !important;
}
.css-1ozmk1d{
    background-color:
    rgba(64, 72, 84, 1) !important;
    border:1px solid rgba(173, 171, 170, 1) !important; 
    color:rgba(173, 171, 170, 1) !important;

}
.RightContainer{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.YearDiv,.SortDiv{
display: flex;
align-items: center;
cursor: pointer;
width: 40%;
justify-content: flex-start;

}
.FilterTerm{
    margin: 0 10px;
}
.BottomIcon{
    color:#E09D54;
}