.CodeContainer{
    width: 100%;
    padding:26px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    background-color:rgba(54, 58, 62, 1);
    border:1px dotted rgba(255, 255, 255, 0.567);
    border-radius:6px;
}


.CodeInfo{
font-size: 20px;
color:rgba(225, 154, 76, 1);
font-weight: 600;
}