.App{
  background-color:  
  rgba(26, 31, 38, 1);
 min-height:100vh;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.LoaderLogo{
  margin-bottom: 10px;
}
.CoinItemsWrapper{
  width: 100%;
  margin-top: 2%;
  max-height: 55vh;
  padding:0 20px 0 0;
  overflow-y: scroll;
}
.CoinItemsWrapper>.CoinContainer:nth-child(1){
  margin-top: 0;
}

.CoinItemsWrapper::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
.CoinItemsWrapper::-webkit-scrollbar-track {
  background: #ffffff;

}

/* Handle */
.CoinItemsWrapper::-webkit-scrollbar-thumb {
  background:   rgba(64, 72, 84, 0.656);
  
  
}

/* Handle on hover */
.CoinItemsWrapper::-webkit-scrollbar-thumb:hover {
  background: #888;
}
.AppWrapper{
  display: flex;
  width: 100%;
}
.AppRightPart{
  width: 80%;
display: flex;
align-items: center;

flex-direction: column;
padding:2% 3%;
}

