.App{
  background-color:  #1E2328;
  min-height:100vh;
  font-family: 'Poppins', sans-serif;
}
.AppWrapper{
  display: flex;
  width: 100%;
}
.AppRightPart{
  width: 80%;
display: flex;
align-items: center;

flex-direction: column;
padding:2% 3%;
}

.TopRightSection{
  width: 27%;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content:space-between;
}
.SynDiv{
  width: 45%;
  display: flex;
  align-items:center;
  justify-content: space-between;

}
.SynCircle{
border:1px solid rgba(72, 72, 246, 1);
border-radius:50%;
padding: 3px;
}
.SynTick{
  color:rgba(72, 72, 246, 1)
}
.SynText{
  color:
  rgba(245, 206, 163, 1);
margin-left: 6px;
  font-size: 15px;
  font-weight: 500;
}
.LockDiv{
  width: 12%;
  background-color:#1A212B;
  border-radius:3px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
}
.LockIcon{
color:#F5CEA3;
font-size: 20px;
}

.WalletTitleContainer{
  width: 100%;
  display: flex;
  margin-top: 4%;
  align-items: center;
  justify-content:space-between;
}

.WalletMainTitle{
  color:#C78D4E;
  font-size: 22px;
  font-weight: 500;

}
.AddCoinBtn{
  background-color:rgba(255, 255, 255, 0.164);
  padding:5px 0;
  width: 12%;
  border-radius:4px;
  color:#BEB4A8;
  font-size: 15px;
}